[Solutions for workshop 11.4.A](https://docs.google.com/presentation/d/1WgEtT3R6A48gG8HZte-WMQsbfbmsHHnXutUy7JjUu1Q/edit#slide=id.g5d1ca39295_0_74)

# Indexing & slicing lists

In [0]:
my_list = ["Thinkful","Data","Analytics",["The","Best"],["Immersive",12,"Weeks"],"Program"]

print(my_list[1:3])
print(my_list[0][1:])
print(my_list[4][2])
print(my_list[-2:])

hinkful
Weeks
[['Immersive', 12, 'Weeks'], 'Program']
Analytics

# Updating and replacing lists

In [0]:
grocery = ["milk", "eggs", "bread", "cheese", "pasta", "ice cream"]

grocery[2] = 'pretzels'

print(grocery)

['milk', 'eggs', 'pretzels', 'cheese', 'pasta', 'ice cream']

# Find Waldo

In [0]:
def find_waldo(list):
  try:
    return list.index('Waldo')
  except ValueError:
    return "You haven't found Waldo."

my_list = ["I'm","enjoying","data","Waldo","analytics"]
my_2nd_list = ["I'm","enjoying","data","Waldo","analytics","Waldo"]
my_3rd_list = ["I'm","enjoying","data","analytics"]

print(find_waldo(my_list))
print(find_waldo(my_2nd_list))
print(find_waldo(my_3rd_list))

3
3
You haven't found Waldo.

# Count A's

In [0]:
grades = ['A','C','B','D','D','A','B','F','C']

grades.count('A')

# Print all list items, capitalized

In [1]:
upper_list_items = ["Don't","give","up","the","ship!"]

for item in upper_list_items:
  print(item.upper())

DON'T
GIVE
UP
THE
SHIP!

# Countdown

In [0]:
def countdown(n) :
  while n > 0:
    print (n)
    n = n - 1
  if n == 0:
    print('BLAST OFF!')

countdown(10)

10
9
8
7
6
5
4
3
2
1
BLAST OFF!

# Count up

In [0]:
counter = 1

while counter < 10:
    print(counter)
    counter = counter + 1
else:
    print(counter)
    print('Counted to ' + str(counter))

1
2
3
4
5
6
7
8
9
10
Counted to 10