[Solutions for workshop 11.5.A](https://docs.google.com/presentation/d/1urMLGQfWxzJOfJPqsGvEiBZKkEOGEZ44jX7hKNB3FQY/edit#slide=id.g5d1ca39295_0_74)

# Dictionary to list of keys, sorted

In [0]:
a_dict = {"Barry": 762, "Hank": 755, "Babe": 714}
print(list(sorted(a_dict.keys())))

['Babe', 'Barry', 'Hank']

# Print key-value pairs in a dictionary

In [0]:
for item in a_dict.items():
  print(item)

('Barry', 762)
('Hank', 755)
('Babe', 714)

# Write a function to check for a dictionary key

In [0]:
def dictionary_checker(key, dict):
  if key in dict:
    return "This key is in the dictionary."
  else:
    return "This key is not in the dictionary."


a_dict = {"Barry": 762, "Hank": 755, "Babe": 714}

print(dictionary_checker('George', a_dict))
print(dictionary_checker('Barry', a_dict))

This key is not in the dictionary.
This key is in the dictionary.

# Drop a key, add a key

In [0]:
a_dict = {"Barry": 762, "Hank": 755, "Babe": 714}

del a_dict['Barry']

a_dict['Alex'] = 696

print(a_dict)

{'Hank': 755, 'Babe': 714, 'Alex': 696}

# New dictionary "filtered" from another

In [0]:
new_dict = {}

for key, value in a_dict.items():
  if value > 750:
    new_dict[key] = value

print(new_dict)

{'Hank': 755}

# Sum all dictionary values

In [0]:
a_dict = {"Barry": 762, "Hank": 755, "Babe": 714}

total_homers = 0

for value in a_dict.values():
  total_homers += value

print(total_homers)

2231